@media all and (max-width:670px){

}

@media all and (mix-width:1000px{
    
    #main-top-title{
        margin:0 auto;
        width:50%;
    }
  }

@font-family{
  font-family:'Billabong';
  src: url ('Bilaabong.ttf') format('truetype');
}
